 
 *{
    font-family: Open Sans, sans-serif;
    color:rgb(75, 77, 79);

 }

 .center{
    text-align: center;
 }
 
 .header-introbig{
    font-size: 20px;
    margin-top: 200px;
    color:rgb(75, 77, 79);
}

 .header-introsmall{
    font-size: 10px;
    margin-top: 3vh;
    margin-bottom: 20vh;
    color:rgb(75, 77, 79)

}
 
 .header-btn {
    position: absolute;
    top: 90px;
    right: 80px;
    border:none;
    color: rgb(36, 48, 94);
    
}

.header-btn:hover {
   background-color:rgb(207, 195, 135);
   color: white;
   border: none;
 }

 .header-btn:active {
   outline: none;
   border: none;
 }

 .header-brand{
    position: absolute;
    top: 6vw;
    left: 6vw
}

 .header-smSpace{
    margin-top: 20vh
}

 .header-bgColor{
    position: relative;
    height:1000px;
    display: flex;
    justify-content: center;
}
.header-logo-container{
   position: absolute;
   bottom: 0;
}
.header-logo-size{
   width: 400px;
   height:auto;
}

 .about-width {
    color: rgb(75, 77, 79);
    display: inline-block;
}

 .about-card{
    background-color: white;
    border-radius: 5px;
    border: .5px solid rgb(167, 167, 167);
    float: left;
    width:33.3%;
    height:220px;
}
 .intro-p{
   line-height: 200%;
   width:50%;
   margin: 0 auto;
 }
 .about-p{
   line-height: 200%;
   font-size: 13px;
 }
 .footer-bgColor {
    height: 50vh;
}

 .footer-center{
    margin-top: 15vh;
}

 .footer-txtCenter {
    margin-top: 20vh;
    font-size: 1.5vw;
    color: white;
}

 .work-center {
    color: rgb(75, 77, 79);

}

 .work-introbig {
    font-size: 2vw;
    color: rgb(75, 77, 79);
}

 .work-moveUp{
    margin-top: -20vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: white;
    margin-bottom: 30vh;
    border-radius: 10vw;

}

 .work-hover{
      cursor: pointer;
      border-radius: 20vw;
}

.background-image-ac{
   background: linear-gradient(
      rgba(133, 60, 60, 0.8),
      rgba(133, 60, 60, 0.8)
    ),url(./imgs/ac_image.jpg); 
   background-position: center;
   background-size: cover;
   border-radius: 5px;
   margin: 0px auto;
   opacity: 90%;
   transition: opacity .2s ease;

}

.background-image-ac:hover{
  opacity: 100%; 

}
.background-image-ib{
   background: linear-gradient(
      rgba(36, 48, 94, 0.6),
      rgba(36, 48, 94, 0.6)
    );
   background-size: cover;
   border-radius: 1vw;
   margin: 0px auto;

 
}
.padding{
   padding: 100px;
}
.yellow{
   background-color: rgb(248, 233, 161);
}
.red{
   background-color:rgb(247, 108, 108);
}
.light-blue{
   background-color: rgb(168, 208, 230);
}
.blue{
   background-color: rgb(55, 71, 133);
}
.dark-blue{
   background-color: rgb(36, 48, 94);
}