 
 *{
    font-family: Open Sans, sans-serif;
    color:rgb(75, 77, 79);

 }

 .center{
    text-align: center;
 }
 
 .header-introbig{
    font-size: 20px;
    margin-top: 200px;
    color:rgb(255, 255, 255);
}

 .header-introsmall{
    font-size: 10px;
    margin-top: 3vh;
    margin-bottom: 20vh;
    color:rgb(255, 255, 255)

}
 
 .header-btn {
    position: absolute;
    top: 90px;
    right: 80px;
    border:none;
    color: rgb(36, 48, 94);
    
}

.header-btn:hover {
   background-color:rgb(207, 195, 135);
   color: white;
   border: none;
 }

 .header-btn:active {
   outline: none;
   border: none;
 }

 .header-brand{
    position: absolute;
    top: 6vw;
    left: 6vw
}

 .header-smSpace{
    margin-top: 20vh
}

 .header-bgColor{
    position: relative;
    height:1000px;
    display: flex;
    justify-content: center;
}
.header-logo-container{
   position: absolute;
   bottom: 0;
}
.header-logo-size{
   width: 500px;
   height:auto;
}

 .about-width {
    color: rgb(75, 77, 79);
    display: inline-block;
}
.about-img{
   width:500px;
   height:auto;

}

.about-padding{
   padding:20px;
}

 .about-card-edu{
    float: right;
    width:50%;
    margin-top: 100px;

}
.about-card-passion{
   float: left;
   width:50%;
   margin-top: 100px;

}
.about-card-drive{
   float: right;
    width:50%;
    margin-top: 100px;


}
 .intro-p{
   line-height: 200%;
   width:50%;
   margin: 0 auto;
 }
 .about-p{
   line-height: 200%;
   font-size: 13px;
 }
 .footer-bgColor {
    height: 50vh;
}

 .footer-center{
    margin-top: 15vh;
}

 .footer-txtCenter {
    margin-top: 100px;
    font-size: 13px;
    color: white;
}
.footer-img{
   width:55px;
   height:55px; 
}
 .work-center {
    color: rgb(75, 77, 79);

}

 .work-introbig {
    font-size: 20px;
    color: rgb(75, 77, 79);
}

 .work-logos{
      cursor: pointer;
      width:100px;
      height: 100px;
}

.background-image-ac{ 
   border-radius: 5px;
   margin: 0px auto;
   width: 200px;
   height: auto;
   margin: 30px;
   background-color: cornflowerblue;
   border: 2px solid black;

}

.background-image-ib{
   border-radius: 5px;
   margin: 0px auto;
   width: 200px;
   height: auto;
   margin: 30px;
   background-color: cornflowerblue;
   border: 2px solid black;
}

.padding{
   padding:100px 20px;
}
.yellow{
   background-color: #FDD978;
}
.red{
   background-color:#F06023;
}
.light-blue{
   background-color: rgb(168, 208, 230);
}
.blue{
   background-color: #13334C;
}
.dark-blue{
   background-color: rgb(36, 48, 94);
}




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
 .header-introbig{
   font-size: 28px;
   margin-top: 200px;
   color:rgb(255, 255, 255);
}

.header-introsmall{
   font-size: 18px;
   margin-top: 3vh;
   margin-bottom: 20vh;
   color:rgb(255, 255, 255)

}


 }
 
 /* 
   ##Device = Laptops, Desktops
   ##Screen = B/w 1025px to 1280px
 */
 
 @media (min-width: 1025px) and (max-width: 1280px) {
   .header-introbig{
      font-size: 23px;
      margin-top: 200px;
      color:rgb(255, 255, 255);
   }
   
   .header-introsmall{
      font-size: 15px;
      margin-top: 3vh;
      margin-bottom: 20vh;
      color:rgb(255, 255, 255)
   
   }
   
 }
 
 /* 
   ##Device = Tablets, Ipads (portrait)
   ##Screen = B/w 768px to 1024px
 */
 
 @media (min-width: 768px) and (max-width: 1024px) {
   
   
 }
 
 /* 
   ##Device = Tablets, Ipads (landscape)
   ##Screen = B/w 768px to 1024px
 */
 
 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
   
 }
 
 /* 
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
 */
 
 @media (min-width: 481px) and (max-width: 767px) {
   .header-btn {
      position: absolute;
      top: 60px;
      right: 40px;
      border:none;
      color: rgb(36, 48, 94);
      
  }
  
  .header-btn:hover {
     background-color:rgb(207, 195, 135);
     color: white;
     border: none;
   }
  
   .header-btn:active {
     outline: none;
     border: none;
   }

   .header-introbig{
      font-size: 20px;
      margin-top: 150px;
      color:rgb(75, 77, 79);
  }

   .header-bgColor{
      position: relative;
      height:700px;
      display: flex;
      justify-content: center;
  }

  .intro-p{
   line-height: 200%;
   font-size: 20px;
   width: 400px;
   margin: 0 auto;
 }
.intro-h{
   margin: 0 auto;

}
 .about-card{
   background-color: white;
   border-radius: 5px;
   border: .5px solid rgb(167, 167, 167);
   float: left;
   width:100%;
   height:180px;
}


.work-introbig {
   font-size: 13px;
   color: rgb(75, 77, 79);
}

.footer-txtCenter {
   margin-top: 100px;
   font-size: 10px;
   color: white;
}
 }
 
 /* 
   ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px
 */
 
 @media (min-width: 320px) and (max-width: 480px) {
   
   .header-btn {
      position: absolute;
      top: 45px;
      right: 10px;
      border:none;
      color: rgb(36, 48, 94);
      
  }
  
  .header-btn:hover {
     background-color:rgb(207, 195, 135);
     color: white;
     border: none;
   }
  
   .header-btn:active {
     outline: none;
     border: none;
   }

   .header-introbig{
      font-size: 20px;
      margin-top: 150px;
      color:rgb(75, 77, 79);
  }

  .header-introsmall{
   font-size: 13px;
   margin-top: 30px;
   margin-bottom: 20vh;
   color:rgb(75, 77, 79)

}

   .header-bgColor{
      position: relative;
      height:700px;
      display: flex;
      justify-content: center;
  }
   
  .header-logo-size{
   width: 320px;
   height:auto;
}

  .intro-h{
   width: 300px;
   margin: 0 auto;
}
  .intro-p{
   line-height: 200%;
   font-size: 15px;
   width: 100%;
   margin: 0 auto;

 }

 .about-card{
   background-color: white;
   border-radius: 5px;
   border: .5px solid rgb(167, 167, 167);
   float: left;
   width:100%;
   height:200px;
}
.about-img{
   width:200px;
   height:auto;

}
.about-card-edu{
   width:100%;
   margin-top: 20px;
   padding-bottom: 120px;
}
.about-card-passion{
   width:100%;
   margin-top: 20px;
   padding-bottom: 120px;

}
.about-card-drive{
   width:100%;
   margin-top: 20px;
   padding-bottom: 50px;



}
.work-introbig {
   font-size: 13px;
   color: rgb(75, 77, 79);
}

.work-logos{
   cursor: pointer;
   width:200px;
   height: 200px;
   margin: 0 auto;
}

.background-image-ac{ 
   border-radius: 5px;
   margin: 0px auto;
   width: 200px;
   height: auto;
   margin: 30px;
   background-color: cornflowerblue;
   border: 2px solid black;

}

.background-image-ib{
   border-radius: 5px;
   margin: 0px auto;
   width: 200px;
   height: auto;
   margin: 30px;
   background-color: cornflowerblue;
   border: 2px solid black;
}

.footer-txtCenter {
   margin-top: 100px;
   font-size: 10px;
   color: white;
}

 }