 
 *{
    font-family: Open Sans, sans-serif;
    color:rgb(75, 77, 79);

 }

 .center{
    text-align: center;
 }
 
 .header-introbig{
    font-size: 2vw;
    margin-top: 120px;
    color:rgb(75, 77, 79);
}

 .header-introsmall{
    font-size: 1.5vw;
    margin-top: 3vh;
    margin-bottom: 20vh;
    color:rgb(75, 77, 79)

}

 .header-btn {
    position: absolute;
    top: 8vw;
    right: 8vw;
    border:none;
    color: rgb(36, 48, 94);
    
}

.header-btn:hover {
   background-color:rgb(207, 195, 135);
   color: white;
   border: none;
 }

 .header-btn:active {
   outline: none;
   border: none;
 }

 .header-brand{
    position: absolute;
    top: 6vw;
    left: 6vw
}

 .header-smSpace{
    margin-top: 20vh
}

 .header-bgColor{
    height:100vh
}

 .about-width {
    padding-top: 10vh;
    font-size: 1.5vw;
    color: rgb(75, 77, 79);
    padding-left: 2vw;
    padding-right: 2vw;
}

 .about-card{
    background-color: white;
    border-radius: 50px;
    border: 2px solid rgb(167, 167, 167);
    border-radius: 10px;
    margin: 1vw;
}
 .about-intro {
    font-size: 2vw;
}


 .footer-bgColor {
    height: 50vh;
}

 .footer-center{
    margin-top: 15vh;
}

 .footer-txtCenter {
    margin-top: 20vh;
    font-size: 1.5vw;
    color: white;
}

.work-smSpace {
    margin-top: 10vh;
    
}
 .work-center {
    color: rgb(75, 77, 79);

}

 .work-introbig {
    font-size: 2vw;
    color: rgb(75, 77, 79);
}

 .work-moveUp{
    margin-top: -20vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: white;
    margin-bottom: 30vh;
    border-radius: 10vw;

}
 .work-hover{
      cursor: pointer;
      border-radius: 20vw;
}

.background-image-ac{
   background: linear-gradient(
      rgba(133, 60, 60, 0.8),
      rgba(133, 60, 60, 0.8)
    ),url(./imgs/ac_image.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 1vw;
   margin-left:10vw;
   margin-right:6vw;
   margin-bottom:3vw;
}

.background-image-ib{
   background: linear-gradient(
      rgba(36, 48, 94, 0.6),
      rgba(36, 48, 94, 0.6)
    );
   background-size: cover;
   border-radius: 1vw;
   margin-left:4vw;
   margin-right:4vw;
   margin-bottom:3vw;
}
.yellow{
   background-color: rgb(248, 233, 161);
}
.red{
   background-color:rgb(247, 108, 108);
}
.light-blue{
   background-color: rgb(168, 208, 230);
}
.blue{
   background-color: rgb(55, 71, 133);
}
.dark-blue{
   background-color: rgb(36, 48, 94);
}