#navbar { 
  background: rgb(59, 59, 59);
  width: 100%;
  height: 20px;
  margin: 0%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0%;
}

div#quote1{
  color: rgb(105, 105, 105);
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 15vw;               
  background-color:black;
  height: 1px;
}

div.Navbar{
  padding: 1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
#logo{
  color: black;
  text-decoration: none;
  font-size: 2vw;
  position: relative;
}
#shop{
  color: black;
  text-decoration: none;
  font-size: 1.5vw; 
  position: absolute;
  right: 3vw;
}
#search{
  color: black;
  text-decoration: none;
  font-size: 1.5vw;
  position: absolute;
  right: 8vw;
  padding-right: 2vw;
  padding-left: 2vw;

}
#collections{
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 30px;
}
#SocialMedia{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
  color: white;
  bottom: 0;
}
.Footer .a{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 18vw;
  background-color: rgb(0, 0, 0)
}
.Footer .b{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 90px;
  background-color: rgb(31, 31, 31)
}
.Footer .b hr{
  position: relative;
  width: 100%; 
  bottom: 0px; 
  background-color:rgb(255, 255, 255);
  height: 1px;
}
.section2{
  padding-bottom: 40vw;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

