/*big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px){
    body{ font-size: 18px; }
    body header{ font-size: 20px; }
    .section-features{ padding: 60px; }
    .new-product-showcase{ padding:30px 120px; }
}

/*small tablet to big tablet: from 760px to 1023px */
@media screen and (max-width: 1023px){
    body{ font-size: 18px; }
    body header{ font-size: 20px; }
    .section-features{ padding: 60px; }
    .new-product-showcase{ padding:10px 80px; }
}
/* 767 to 800 */
@media screen and (max-width: 850px){
    .main-nav li a:link,
    .main-nav li a:visited,
    .shop-about li a:link,
    .shop-about li a:visited{font-size:80%}
    .shop-about li{
        margin-left: 110px;
    }
    .shop-about{
        right: 90px;
    }

    .footer-nav a:link,
    .footer-nav a:visited {font-size: 60%;}
    .social-links a:link,
    .social-links a:visited{font-size:90%;}
    footer p { font-size: 60%;}
}
/* small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px){
    .section-features{
        margin-bottom: 0;
    }
    .section-features .col {   
      float: none;
      width: 100%;
      text-align: left;
      font-size: 20px;
    }
    .section-features .col h1{
        text-align: center;
    }
    .section-features .col .icon{
        text-align: center;
    }
    
    .new-product-showcase{ padding:10px 0px; }

    
}

@media only screen and (max-width: 660px){
  
}
/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px){
    
   
}