/* ====================================
            GENERAL CSS
======================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
background-color: rgb(255, 255, 255);
color: rgb(116, 116, 116);
font-family: 'Lato','Arial',sans-serif;
font-size: 20px;
font-weight: 300;
text-rendering: optimizeLegibility;
}



/* ====================================
            HEADER CSS
======================================*/	

header .row h1{
    display: inline; 
}

header .row{
    background-color: rgba(255, 255, 255, 0.466);
}
.hero-text-box{
position: absolute;
right: 0px;
top: 25px;
text-transform: uppercase;

}


.main-nav{
    float: right;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color:black;
    font-size: 120%;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent(211, 175, 77);
    transition: border-bottom .2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1px solid rgb(211, 175, 77);
}

.shop-about{
    position: absolute;
    list-style: none;
    right: 130px;
    top:25px;
}

.shop-about li{
    display: inline-block;
    margin-left: 150px;
}

.shop-about li a:link,
.shop-about li a:visited{
    color:black;
    text-decoration: none;
    font-size: 120%;
    text-transform: uppercase;
    border-bottom: 1px solid transparent(211, 175, 77);
    transition: border-bottom .2s;
}
.shop-about li a:hover,
.shop-about li a:active{
    border-bottom: 1px solid rgb(211, 175, 77);
}
/*============================
        HEADINGS
============================*/
h1,h2,h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
  margin-top:0px;
  margin-bottom: 20px;
  font-size: 240%;
  color:rgba(0, 0, 0, 0.699);
  word-spacing: 4px;
  letter-spacing: 1px;
}

h1 a{
    text-decoration: none;
    color: rgb(116, 116, 116);
}

h2{
    margin-bottom: 30px;
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;

}

h3{
    font-size: 110%;
    margin-bottom: 10px;
}

/* ====================================
            PARAGRAPHS
======================================*/
.main-p{
    
    margin-left: 290px; 
    margin-bottom: 20px;
}

.box{
    padding: 1%;
}
.box p{
    font-size: 80%;
    line-height: 145%;
}

.section-features{
    padding: 100px;
    margin-bottom: 250px;
}


/* ====================================
                ICON
======================================*/
.icon-big{
    font-size: 350%;
    display: block;
    color: rgb(211, 175, 77);
    margin-bottom: 10px;
}

/* ====================================
                Showcase
======================================*/


.new-product-showcase{
    width:100%;
    padding:50px 150px;

}

.new-product-showcase .row .col.span_1_of_3 img{
    opacity: 1;
    width: 100%;
    height: auto;
    transform: scale(1.35);
    transition: transform .5s, opacity .5s;
}

.new-product-showcase .row .col.span_1_of_3 img:hover{
    transform:scale(1.2);
    opacity: .8;
}
.new-product-showcase .row{
    overflow: hidden;
}

.new-product-showcase figure figcaption{
    font-size: 70%;
    padding-left: 135px; 
}

/* ====================================
            REUSABLE CSS
======================================*/

.row{
    max-width: auto;
    margin: 0 auto;
}
/* ====================================
           FOOTER
======================================*/
footer{
    position: absolute;
    background-color: rgb(34, 34, 34);
    bottom:0;
    width: 100%;
}


.footer-nav{
    float: left;
    list-style: none;
}

.footer-nav li{
    display: inline-block;
    padding: 10px;
}

.social-links{
    float: right;
    list-style: none;
}

.social-links li{
    display: inline-block;
    padding: 20px;
}

footer p { 
    color:rgb(112, 112, 112);
    font-size: 80%;
    text-align: center;
}

footer .row{
    padding:20px 70px;
}
.footer-nav a:link,
.footer-nav a:visited {
    color:rgb(112, 112, 112);
    text-decoration: none;
    font-size: 80%;
    transition: color .2s;
}

.social-links a:link,
.social-links a:visited{
    color:rgb(112, 112, 112);
    text-decoration: none;
    font-size:120%;
    transition: color .2s;
}

.footer-nav a:hover,
.social-links a:hover{
    color:rgb(150,150,150);
}


/* ====================================
                SIZING
======================================*/
.sizing{
    margin:0px 400px;
}

/* ====================================
           
======================================*/
.span_1_of_4 {
	width: 23.8%; 
}

.span_1_of_3 {
	width: 32.26%; 
}

.span_1_of_2 {
	width: 49.2%;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
/*=====================================
                About
======================================*/
section{
  padding: 80px 0px;
}

